body{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1, h3, p{
  margin-bottom: 10px;
  margin-top: 0;
}
.green{
  color: green;
}

.option{
  display: block;
  cursor: pointer;
}

.block{
  border: 1px solid #777;
  padding: 10px;
  margin-bottom: 10px;
}

.light{
  background-color: #fff;
}
.dark{
  background-color: #555;
}
.error{
  color: red;
}
.row{
  margin-bottom: 10px;
}